/**

//HTML5 Boilerplate + Normalize
*= require "_vendor/normalize.css"
*= require "_vendor/html5bp.css"
*= require "_vendor/reveal.css"

*/

@import "bourbon";

$clr-grey: #E6E6E6;
$clr-grey-dark: #ACACAC;
$clr-grey-darker: #D2D2D2;
$clr-white: #fff;
$clr-orange: #E5674D;
$clr-blue: #00B5B5;
$clr-blue-dark: #3E4651;
$clr-black: #000;

$arial: Arial, sans-serif;
$myriad: "Myriad Pro", Arial, Helvetica, Tahoma, sans-serif;

.wrapper {
  width: 960px;
  margin: 0 auto;
}

body {
  padding-top: 80px;
  background: $clr-grey;
  font-family: $helvetica;
  font-size: 13px;
  color: $clr-blue-dark;
}

ul, ol, {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}


h1, h2, h3, h4, h5, h6 {
  font-family: $helvetica;
  color: $clr-blue-dark;

  &.title {
    color: $clr-blue;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0 auto;
    text-align: center;
  }
}

#header {
  z-index: 100;
  position: fixed;
  width: 100%;
  top: 0px;
  height: 80px;
  background: $clr-white;
  border-bottom: 1px solid $clr-grey-darker;

  .holder-logo {
    width: 222px;
    float: left;
    margin-top: 14px;

    a {
      display: block;
      text-decoration: none;
      text-align: center;
    }

    .slogan {
      font-size: 11px;
      font-weight: normal;
      font-family: $helvetica;
      color: $clr-black;
      text-decoration: none;
      width: 230px;
    }
  }

  nav {
    float: right;

    ul {
      margin: 0;
      margin-top: 32px;
      float: left;
    }

    li {
      float: left;
      border-right: 1px solid $clr-grey-dark;

      &:last-child {
        border-right: none;
      }

      a {
        display: block;
        padding: 0 15px;
        font-family: $helvetica;
        font-size: 11px;
        font-weight: 300;
        color: $clr-grey-dark;

        text-transform: uppercase;
        text-decoration: none;
        @include transition (color 0.5s ease-in-out);

        &:hover {
          color: $clr-orange;
        }
      }
    }

    a.order-now {
      float: left;
      display: inline-block;
      padding: 10px 25px;
      margin-top: 19px;
      background: $clr-orange;
      @include border-top-radius(4px);
      @include border-bottom-radius(4px);

      font-family: $helvetica;
      font-size: 16px;
      font-weight: 300;
      color: $clr-white;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

#intro {
  padding: 40px 0;
  border-bottom: 1px solid $clr-grey-darker;

  .wrapper {
    position: relative;
  }

  .truck {
    background: url(../images/truck-illustartion-small.png) no-repeat transparent;
    width: 239px;
    height: 240px;
    margin: 0 auto;
  }

  .holder-tooltips {
    position: absolute;
    top: 71px;
  }

  .tooltip {
    background: $clr-white;
    padding: 6px 32px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    @include transition (color 0.2s ease-in-out);

    span {
      bottom: -2px;
      display: block;
      position: absolute;
      width: 120%;
      height: 1px;
      background: $clr-white;
      @include transition (background 0.8s ease-in-out);
    }

    &:hover {
      // background: $clr-blue;
      color: $clr-orange;

      span {
        background: $clr-orange;
      }
    }
  }

  .holder-tooltips {
    .tooltip {
      &:first-child {
        margin-bottom: 30px;
      }
    }

    &.left {
      left: 134px;

      .tooltip {
        float: right;
        span {
          right: 0;
        }
      }
    }

    &.right {
      right: 96px;

      .tooltip {
        float: left;
        span {
          left: 0;
        }
      }
    }
  }
}

#how-it-works {
  padding: 40px 0;
  background: $clr-white;
  border-bottom: 1px solid $clr-grey-darker;

  ul {
    margin-top: 40px;
    li {
      float: left;
      width: 220px;
      padding-right: 20px;
      position: relative;;

      span.arrow {
        background: url('../images/arrow-right.png') no-repeat transparent;
        width: 48px;
        height: 48px;
        position: absolute;
        right: -14px;
        top: 30px;
      }

      header {
        height: 140px;
        position: relative;

        img {
          position: absolute;
          top: 0;
          left: 56px;
          max-width: 120px;
          max-height: 120px;
          display: block;
          margin: 0 auto;

        }
      }

      &.upload {
        header {
          img {
            left: 60px;
          }
        }
      }

      h2 {
        font-size: 18px;
        color: $clr-orange;
        text-align: center;
        margin-bottom: 10px;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      article {
        // padding-right: 15px;
        font-size: 13px;
      }
    }
  }
}

#services {
  padding: 40px 0;
  border-bottom: 1px solid $clr-grey-dark;
  border-right: 0;
  border-left: 0;
  // background: $clr-white;

  // h1, h2, h3, h4, h5 {
  h1 {
    // color: $clr-white;
  }

  ul.benefits {
    margin-top: 40px;
  }

  h2.title {
    text-decoration: underline;
    text-align: left;
    margin-top: 40px;
    text-transform: capitalize;
  }

  ul.services {
    margin-top: 10px;
    margin-bottom: 40px;

    &.active_system_lite {
      li {
        float: left;
        width: 50%;
      }

      article {
        padding-right: 10px;
      }

      &:nth-child(2n) {
        article {
          padding-right: 0;
          padding-left: 10px;
        }
      }
    }
  }

  ul.services > li {
    margin-bottom: 5px;
    // float: left;
    // width: 50%;
    // position: relative;
    // margin-bottom: 40px;
  }

  ul.benefits > li {
    float: left;
    width: 300px;
    margin-right: 30px;
    margin-bottom: 30px;
    // background: $clr-grey;
    background: $clr-white;
    @include border-top-radius(4px);
    @include border-bottom-radius(4px);
    text-align: center;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }


    &:nth-child(2), &:nth-child(5) {
      background: $clr-blue;
      color: $clr-white;

      h2 {
        color: $clr-white;
      }
    }

    &:nth-child(3), &:nth-child(6) {
      margin-right: 0;
      background: $clr-orange;
      color: $clr-white;

      h2 {
        color: $clr-white;
      }
    }
  }

  ul.list {
    margin: 20px 40px;
    margin-top: 0;
    li {
      text-align: left;
      margin-bottom: 10px;
    }
  }

  h2 {
    font-weight: 300;
  }

}
#products {
  padding: 40px 0;
  background: $clr-white;
  border-bottom: 1px solid $clr-grey-darker;

  ul {
    margin-top: 40px;

    li {
      width: 50%;
      float: left;
      margin-bottom: 30px;

      aside {
        width: 160px;
        height: 160px;
        float: left;
        margin-right: 20px;
        border: 1px solid $clr-grey-dark;
        @include transition (border 0.4s ease-in-out);

        img {
          max-width: 160px;
          min-height: 160px;
        }
      }

      article {
        float: left;
        width: 290px;

        a.read-more {
          display: inline-block;
          padding: 8px 15px;
          background: $clr-orange;
          @include border-top-radius(4px);
          @include border-bottom-radius(4px);

          font-family: $helvetica;
          font-size: 13px;
          font-weight: 300;
          color: $clr-white;
          text-decoration: none;
          text-transform: lowercase;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      &:hover {
        aside {
          border: 1px solid $clr-orange;
        }
      }
    }
  }
}

.product-view {
  padding: 40px 0;

  h1, h2, h3 {
    &.title {
      text-align: left;
      border-bottom: 1px dashed $clr-blue;
      display: inline-block;
    }
  }

  aside.sidebar {
    float: right;
    margin: 50px 120px 20px 120px;
    text-align: center;

    img {
      display: block;
      margin-bottom: 40px;
      border: 1px solid $clr-orange;
    }

    a.order-now {
      display: inline-block;
      padding: 8px 15px;
      background: $clr-orange;
      @include border-top-radius(4px);
      @include border-bottom-radius(4px);

      font-family: $helvetica;
      font-size: 13px;
      font-weight: 300;
      color: $clr-white;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  article.products-details {
    text-align: justify;
  }

  ul.features {
    margin-top: 20px;
    margin-bottom: 40px;

    li {
      margin-bottom: 5px;
      padding-bottom: 6px;
      padding-top: 6px;
      cursor: pointer;
      float: left;
      width: 445px;
      padding-left: 25px;
      padding-right: 10px;
      position: relative;

      &:hover {
        border-bottom: 1px dashed $clr-blue;
        border-top: 1px dashed $clr-blue;
        padding-bottom: 5px;
        padding-top: 5px;
      }

      span {
        position: absolute;
        top: -1px;
        left: 7px;
        color: $clr-blue;
        font-weight: bold;
        font-size: 18px;
        display: inline-block;
        margin-right: 10px;
      }

      &:nth-child(2n) {
        padding-right: 0;
        padding-left: 35px;
      }

    }
  }

  .tech {
    h4 {
      margin: 20px 0 5px 0;
    }

    article {
      float: left;
      width: 465px;
      padding-right: 15px;

      &:nth-child(2n) {
        padding-right: 0;
        padding-left: 15px;
      }
    }
  }
}

// TODO: implement
#configurator {
  display: none;
  padding: 40px 0;
  border-bottom: 1px solid $clr-grey-darker;
}

#about-us {
  display: none;
  padding: 40px 0;
  background: $clr-white;
  border-bottom: 1px solid $clr-grey-darker;
}

#contact-us {
  padding: 40px 0;
  font-size: 15px;

  h1.title {
    margin-bottom: 40px;
  }

  aside.details {
    width: 460px;
    float: left;
    padding-right: 20px;
  }

  #map {
    float: left;
  }
}

#map {
  width: 50%;
  height: 400px;
}

#footer {
  padding: 40px 0;
  margin-top: 40px;
  font-family: $georgia;
  font-size: 14px;
  background: $clr-grey-darker;

  h1 {
    font-size: 12px;
  }
}